#start_point {
  cursor: pointer;
}
#controls {
  display: grid;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  width: fit-content;
  margin: 0 auto;
  grid-gap: 15px;
  cursor: pointer;
}
.off {
  opacity: 0.4;
}
#autoplay {
  justify-self: center;
}
.cursor {
  cursor: pointer;
}
